body {
  cursor: pointer;
}
.commentBox {
  font-size: 0;
  padding: 0 16px;
  margin: 9px;
  /* margin-bottom: 9px; */
  background: rgb(246, 222, 246);
  height: 534px;
  overflow-y: scroll;
}
.commentBox>p {
  font-size: 0;
  padding: 12px 0 31.7px;
}
.box {
  height: 0;
}
.commentTitleBox {
  display: flex;
  position: fixed;
  height: 20px;
  justify-content: space-between;
}
.commentTitleBox span:first-child {
  font-size: 14px;
  font-weight: bold;
}
.commentTitleBox span:last-child {
  font-size: 12px;
  color: #999999;
}
.commentDetail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #f5f5f5;
}
.commentDetail>p {
  font-size: 0;
}
.commentDetail .headImgText {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.commentDetail .headImgText>span {
  display: inline-block;
}
.commentDetail .headImgText .headImg {
  width: 28px;
  height: 28px;
  margin-right: 12px;
}
.commentDetail .headImgText .userName {
  font-size: 12px;
}
.commentDetail .content {
  font-size: 14px;
  margin-right: 32px;
  margin-bottom: 9px;
}
.commentDetail .pic {
  width: 72px;
  height: 72px;
  margin-bottom: 9px;
}
.del {
  font-size: 18px;
  color: red;
}